FinalProject666/Workflows/TestFLOOOW-F1453FD3-4DDE-EB11-BACB-000D3AB358E0.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cre33_sharedsharepointonline_0f4d5"},"api":{"name":"shared_sharepointonline"}},"shared_planner":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cre33_sharedplanner_05bef"},"api":{"name":"shared_planner"}},"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cre33_sharedoffice365_9cecc"},"api":{"name":"shared_office365"}},"shared_teams":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cre33_sharedteams_ccf7c"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_lists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://volvogroup.sharepoint.com/sites/coll-pp-coe-admin/CoE_Survey"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_my_tasks":{"runAfter":{"Get_lists":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_planner","operationId":"ListMyTasks_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_planner"},"parameters":{},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_room_lists_(V2)":{"runAfter":{"List_my_tasks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"GetRoomLists_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_chats":{"runAfter":{"Get_room_lists_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"GetChats","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"chatType":"all","topic":"all"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}